In [210]:
from numpy import array
import pandas as pd
import numpy as np
import re

import matplotlib.pyplot as plt

In [211]:
df = pd.read_csv("ProductData.csv", low_memory=False)

In [212]:
# df[~df['detail_category'].isnull()]

In [213]:
df.shape

(1114055, 19)

In [214]:
df["category"] = df["category"].fillna("Unclassified")
df["subcategory"] = df["subcategory"].fillna("Unclassified")
df["detail_category"] = df["detail_category"].fillna("Unclassified")

In [215]:
# df['category'].value_counts().plot(kind='barh',color='coral')
# plt.show()
len(list(df['category'].unique()))

2985

In [216]:
# df['subcategory'].value_counts().plot(kind='barh',color='blue')
# plt.show()
len(list(df['subcategory'].unique()))

240

In [217]:
len(list(df['detail_category'].unique()))

545

In [218]:
data = df[["product_name", "category", "subcategory", "detail_category"]].copy()

In [219]:
data.head()

,product_name,category,subcategory,detail_category
0,Atlas Homewares A916-PN 6-5/16 in. Platform Pu...,Unclassified,Unclassified,Unclassified
1,Atlas Homewares A917 Platform 11-5/16 Inch Cen...,Unclassified,Unclassified,Unclassified
2,Platform Pull 11 5/16 Inch Polished Chrome,Unclassified,Unclassified,Unclassified
3,Platform Pull 11 5/16 Inch Polished Nickel,Unclassified,Unclassified,Unclassified
4,Atlas Homewares A918 Wide Square 3-3/4 Inch Ce...,Unclassified,Unclassified,Unclassified

In [220]:
# Count null values under entire DataFrame
data.isna().sum().sum()

34

In [221]:
data = data.dropna()

In [222]:
# Check whether any duplicated values exist
data.duplicated(keep='first').sum()

331376

In [223]:
# Delete duplicated values
# Keep first duplicate row
data = data.drop_duplicates(keep='last')

In [224]:
data.shape

(782645, 4)

In [225]:
data.dtypes

product_name       object
category           object
subcategory        object
detail_category    object
dtype: object

In [226]:
data['categories'] = data['category'].astype(str)  + "," +  data['subcategory'].astype(str) + "," +  data['detail_category'].astype(str)

In [227]:
data.head()

,product_name,category,subcategory,detail_category,categories
0,Atlas Homewares A916-PN 6-5/16 in. Platform Pu...,Unclassified,Unclassified,Unclassified,"Unclassified,Unclassified,Unclassified"
1,Atlas Homewares A917 Platform 11-5/16 Inch Cen...,Unclassified,Unclassified,Unclassified,"Unclassified,Unclassified,Unclassified"
2,Platform Pull 11 5/16 Inch Polished Chrome,Unclassified,Unclassified,Unclassified,"Unclassified,Unclassified,Unclassified"
3,Platform Pull 11 5/16 Inch Polished Nickel,Unclassified,Unclassified,Unclassified,"Unclassified,Unclassified,Unclassified"
4,Atlas Homewares A918 Wide Square 3-3/4 Inch Ce...,Unclassified,Unclassified,Unclassified,"Unclassified,Unclassified,Unclassified"

In [228]:
for idx, row in data.iterrows():
    categories = row["categories"].split(",")
    category_list = list(set(categories))
    categories = ",".join(cl for cl in category_list)
    data["categories"][idx] = categories

In [229]:
data[data['categories'] != "Unclassified"]

,product_name,category,subcategory,detail_category,categories
5,Hemp Elements Omega Bites™ Bag 10ct / Chicken,Dog,Unclassified,Unclassified,"Dog,Unclassified"
6,Mushroom Bites™ Bag 10ct / Chicken,Dog,Unclassified,Unclassified,"Dog,Unclassified"
7,Salmon Bites™ Bag 10ct / Salmon,Dog,Unclassified,Unclassified,"Dog,Unclassified"
8,Senior Vision Bites™ Bag 10ct / Chicken,Dog,Unclassified,Unclassified,"Dog,Unclassified"
9,Stay Green Bites™ Jar 90ct / Beef,Dog,Unclassified,Unclassified,"Dog,Unclassified"
...,...,...,...,...,...
1113951,The Table is Lava - Coconuts edition,Unclassified,Unclassified,963Demo,"Unclassified,963Demo"
1113954,The Table is Lava,Unclassified,Unclassified,966P,"966P,Unclassified"
1113984,Hide & Seek Safari® Monkey II,Unclassified,Unclassified,Hide & Seek Safari Monkey II- Demo,"Unclassified,Hide & Seek Safari Monkey II- Demo"
1113988,Time's Up!®,Unclassified,Unclassified,975Demo,"Unclassified,975Demo"
1113990,The Table is Lava-demo,Unclassified,Unclassified,966P,"966P,Unclassified"

In [230]:
data.to_csv("merged_categories.csv")